* {
  /*border: 2px dotted red;*/
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear:both;
}
.clearfix {
  overflow: auto;
}
.box {
  /*display: inline-block;*/
  width: 50%;
  height: 50px;  
  float: left;
  text-align: left;

}
p {
width: 100%;
  text-align: center;
  padding: none;
  margin: none;

}
.row1 {

}
.bottom-content {
  height:40px;
}
