* {
  /*border: 2px dotted red;*/
}
* {
  font-family: 'Lato', sans-serif;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear:both;
}
.clearfix {
  overflow: auto;
}
.navbar {
  margin-bottom: 5px;
  border: 1px lightgrey solid;
}
.header {
  height: 325px;
  border: 1px solid lightgrey;
  background-image: url(background.jpg);
  max-width: 100%;
  background-position: 0% 15%;
}
.banners {
  height: 75px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.banner1 {
  height:  40px;
  text-align: center;
  font-size: 40px;
  padding-top: 20px;
  margin-top: 40px;
  color: white;
}
.banner2 {
  height:  40px;
  text-align: center;
  font-size: 40px;
  margin-top: 3px;
  color: white;
}

h1 {
  font-size:65px;
  margin: 5px 10px 0px 10px;
  }
h3 {
  padding-bottom: 0px;
  margin-top: 3px;
  margin-bottom: 30px;
  font-size: 18px;
}
h5 {
  margin: 10px 10px 10px 10px;
}
ul {
  text-decoration: none;
  jlist-style: none;
}

a {
  text-decoration: none;
  color: black;
  border: 1px lightgrey solid;
}

.offers {
  margin: 0px 8% 12px 8%;
height: 500px;
text-align: center;
width: 825px;
padding-left:50px;
padding-top: 30px;

}


.offers li {
  list-style: none;
}
.offers ul {
  padding: 0px;
}
.features li {
  border: 1px lightgrey solid;
  padding: 10px 10px 10px 10px;
  height: 15px;
  background-color: #F7F7F7;
  font-size: 14px;

}

.offer-row {
  width: 255px;
  padding: 10px;
  margin: 7px;
}
.choose {
  height: 23px;
  border: solid lightgrey 1px;
  padding: 25px;
  text-align: center;
}
#choose.choose-button {
  height: 30px;
  width: 60px;
  margin: 0px;
}

.choose-button a {

  border-radius: 1em;



}
.market1 {
  border: solid 1px lightgrey;
  height: 180px;
  background-color: #519251;
  color: white;
}
.market2 {
  border: solid 1px lightgrey;
  height: 180px;
  background-color: #2C4985;
  color: white;
}
.market3 {
  border: solid 1px lightgrey;
  height: 180px;
  background-color: #111111;
  color: white;
}

.bottom-content {
  /*height:500px;
  width: 800px;*/
  /*margin:  20px 20px 20px 20px;*/
  /*margin: 10px 10px 10px 30px;*/
  text-align: center;
  margin-left:150px;
  margin-right: 10px;
  height:380px;
  width:825px;
}
    .box {
    /*display: inline-block;*/
    width: 44%;
    height: 160px;
    text-align: left;
    border: 1px solid lightgrey;
    margin: auto;
    margin-left: auto;
    /*margin: 0px 10px 0px 0px;*/
    /*display:inline-block;*/
    float: left;
    padding:14px;
  }
 p {
  width: 95%auto;;
  height: 120px;
    text-align: left;
    padding: 2px;
    margin: 5px;
    font-size: 13px;
    border:  1px lightgrey solid;
    letter-spacing: .03em;
    line-height: 1.6em;
  }
  h4 {
    font-size:15px;
    text-align: left;
    letter-spacing: .25em;
    margin-bottom: 2px;
    margin-left: 8px;
    width: 350px;

    }
  .footer {
    border: 1px lightgrey solid;
    height: 60px;
    width:97%;
    margin: 0px 5px;


    background-color: black;
    clear: both;

  }
  .footer-title {
    font-size: 16px;
    color: white;
    padding: 20px 250px;
    float: left;

}
